/* Let there be CSS. And it was good. */

/* == TYPOGRAPHY == */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

h1, h2 {
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: -.02em;
	margin-bottom: 20px;
}
h1 { font-size: 1.8em; 
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
}
h2 { 
	font-size: 1.3em; 
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	margin-top: 20px;
	font-weight: 500;
}
a h2 { color: #333; }
a { 
	color: #333;
	border-bottom: 1px solid #efebe2;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}
a:hover {
	
}

p {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	margin: 20px 0;
}
strong { font-weight: 700; }
em { font-style: italic; }
blockquote {
	max-width: 800px;
	font-size: 36px;
	font-weight: 600;
	color: #bbb;
	margin: 40px 0;
	padding: 20px 40px 20px 40px;
	background:;
	border-left: 3px double #ECECEC;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
}
article.post p {
	color: #555;
}
article.post p a{
	font-weight: 400;
	color: #E64F1A !important;
	background: #fff;
	padding: 0 3px;
	margin: 0 -2px;
	display: inline-block;
}

article.post img{

}

.section-post{

	-webkit-transition: all .45s linear;
	-moz-transition: all .45s linear;
	-o-transition: all .45s linear;
	-ms-transition: all .45s linear;
	transition: all .45s linear;
	
}
.section-post:hover{

}
article.post:hover p a{
	border-bottom: 1px solid #e64f1a;
}
article.post:hover p a:hover{
	background:#E84E1A;
	border-bottom-color: #fff;
	color: #fff !important;
	
}
article.post ul, article.post ol {
	margin-left: 20px;
	padding-left: 15px;
	color: #666;
	font-weight: 300;

	line-height: 24px;

}
article.post ul li, article.post ol li{
	margin: 0 0 10px;
	
}
article.post ul { list-style: disc; }
article.post ol { list-style: upper-roman; }

/* == LAYOUT == */
body {
	background-color: #faf9f4;
	font-size: 16px/24px;
	font-family: 'Titillium Web', sans-serif;
	color: #212121;
	min-width: 895px;
	margin: 0;
}
header#main-header {
	width: 25%;
	padding-left: 1.5%;
	position: fixed;
	z-index: 1;
	min-height: 100%;
	min-width: 240px;
}
header#main-header > a {
	background: none;
	border: none;
}
header#main-header hgroup {
	margin: 40px 30px 20px 30px;
	text-align: center;
}
header#main-header hgroup a.logoLink{
	display: block;
	border-bottom: 3px double #EFEBE2;
	margin-bottom: 20px;
}
header#main-header hgroup a.logoLink .logo{
}
header#main-header hgroup h1 { margin-bottom: 20px; line-height: 1.2em; }
header#main-header hgroup h2 { font-weight: 500; font-style: italic;font-size: 14px; color: #888; margin-top: 2px; }
header#main-header nav {
	margin: 0 0px;
	
}		header#main-header nav li{
			margin-bottom: 10px;
		}
		header#main-header nav li a{
			display: block;
			
			height: 0;
			line-height: 0px;
			border-top: 20px solid #faf9f4;
			border-bottom: 20px solid #faf9f4;
			border-left: 20px solid #faf9f4;
			padding: 0px 16px;
			-webkit-transition: all .05s linear;
			-moz-transition: all .05s linear;
			-o-transition: all .05s linear;
			-ms-transition: all .05s linear;
			transition: all .05s linear;
		}
		header#main-header nav li.active a {
			color: #fff;
			padding: 0px 16px;
			background: #eee;
			border-top: 20px solid #e84e1a;
			border-bottom: 20px solid #de4e1a;
			border-left: 20px solid #faf9f4;
			height: 0;
		}
		header#main-header nav li:hover a{
			color: #fff;
			border-top: 20px solid #e84e1a;
			border-bottom: 20px solid #de4e1a;
			border-left: 20px solid #faf9f4;
		}
		header#main-header nav li.active:hover a{
			border-top: 20px solid #e84e1a;
			border-bottom: 20px solid #de4e1a;
			border-left: 20px solid #faf9f4;
		}
header h3 {
	border-top: 1px solid #ECECEC;
	padding: 20px 0 0 10px;
	margin-bottom: 20px;
	font-size: 1.2em;
	font-weight: bold;
}

div#tweets {
	margin: 0 0 0 10px;
	max-width: 240px;
	font-style: italic;
}
div#tweets ul li {
	margin-bottom: 25px;
}
div#tweets i.birdie {
	display: inline-block;
	width: 15px;
	height: 12px;
	background: url('../img/birdie.png') no-repeat center center;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}
div#tweets i.birdie:hover {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
div.hcs {
	overflow: hidden;
	text-align: left;
}
div.hcs ul {
	margin-left: 10px;
}
div.hcs ul li {
	display: block;
	width: 47%;
	position: relative;
	float: left;
	box-sizing: border-box;
	padding: 0 5px 0 0;
	margin-bottom: 5px;
}
div.hcs ul li img {
	width: 100%;
	height: auto;
	border: 0;
	-ms-interpolation-mode: bicubic;
	font-size: 0;
	float: left;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}
div.hcs ul li img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}
section#content {
	margin-left: 26.5%;
	min-width: 650px;
	position: relative;
	border-left: 1px solid #ececec;
	min-height: 900px;
	z-index: 99999;
	border-left: 3px double #F0F0F0;
	background-color: rgb(250, 249, 244);
		box-shadow: 1px 1px 35px rgba(97, 97, 97, 0.1);
}
article.post {
	max-width: 800px;
	display: block;
	position: relative;
	padding: 40px ;
	min-height: 130px;
	overflow-x: hidden;
}
article.post .projectLink{
	width: 100%;
	display: block;
	font-size: 42px;
	padding:15px 0 20px;
	text-align: center;
	margin: 10px 0;
}
article.post:hover{

}
article.post .postDescription p{
	font-weight: 400;
	color: #333;
}
article figure img, article iframe, article object {
	display: block;
	margin: 0;
	padding: 0;
	width: 670px;
	float: none;
}
section[class^="article-"] > header {
	padding: 20px 0 20px 40px;
	display: block;
	position: relative;
	text-transform: uppercase;
	color: #888;
	font-weight: 700;
	font-size: .9em;
	line-height: 33px;
}

section#content.article-home > a {
	display: block;
	text-decoration: none;
	border: 0;
	border-bottom: 1px solid #ECECEC;

}
section#content.article-home > a:hover{

	background: #fefefe;
}	section#content.article-home > a span.showInd{
	display: none;
	background-position: top center;
	-webkit-transition: .3s linear;
	-moz-transition:  .3s linear;
	-o-transition: .3ƒs linear;
	-ms-transition:  .3s linear;
	transition:  .3s linear;
}	section#content.article-home > a:hover span.showInd{
	display: block;
	background:rgba(232,78,26,0.8) url('../img/search.png') no-repeat center center ;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 16px;
	width: 100%;
	line-height: 0;
	height: 100%;
}

section#content article > a { text-decoration: none; }
.section-post article.post img { max-width: 100%; display: block;}
article.post h1, article.post h2, article.post p { max-width: 800px; word-wrap: break-word;
}
article.post ul, article.post ol  { max-width: 780px; }

section#content article.home-post {
	position: relative;
}
section#content	article.home-post img {
		display: none;
	}

section#content article.home-post .post-thumb{
	border: 3px double #ddd;
	position: relative;
	width: 200px;
	overflow: hidden;
	float: left;
	margin-bottom: 15px;
	margin-right: 30px;
}
section#content article.home-post .post-thumb * {
	display: none;

}
section#content article.home-post .post-thumb img {
	background: rgb(240,240,240);
	display: block;
	height: 200px;
	width: auto;
}
section#content.section-post .post img {
	margin-bottom: 10px;
}
section#content.section-post div.image{
	margin-bottom: 20px;
}
section#content.section-post div.image, section#content.section-post .post-cover{
	border-bottom: 3px double #DDD;
	position: relative;
	display: block;
	overflow: hidden;
	max-width: 880px;
	cursor: pointer;
	-webkit-transition: box-shadow .3s linear;
	-moz-transition: box-shadow .3s linear;
	-o-transition: box-shadow .3s linear;
	-ms-transition: box-shadow .3s linear;
	transition: box-shadow .3s linear;
}
section#content.section-post div.image:hover span.greyOut, section#content.section-post .post-cover:hover span.greyOut{
	overflow: hidden;
	background:rgba(206,53,0,0.8) url('../img/search.png') no-repeat center center ;
	z-index: 9999;
}
	section#content.section-post div.image:hover, section#content.section-post .post-cover:hover{
		box-shadow: 0 1px 5px rgba(206, 53, 0, 0.3) ;
		
	}

section#content.section-post div.image.activeShow, section#content.section-post .post-cover.activeShow{
	
	box-shadow: 0px 1px 15px #000;
	z-index: 6666;
	overflow: visible;
	border-bottom: 0;
}	section#content.section-post div.image, section#content.section-post div.image.activeShow{
	height: auto;
	max-width: 800px;
}	section#content.section-post div.image img, section#content.section-post .post-cover img{
	width: 100%;
	z-index: 5555;
	position: relative;
}	section#content.section-post div.image img{
	max-width: 800px;
}
	section#content.section-post div.image span.greyOut, section#content.section-post .post-cover span.greyOut{
	display: block;
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	background-position: top center;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}	section#content.section-post div.image.activeShow span.greyOut, section#content.section-post .post-cover.activeShow span.greyOut{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 8888;
	background: rgba(65,65,65,0.9);
}
	section#content.section-post div.image.activeShow img, section#content.section-post .post-cover.activeShow img{
		z-index: 9999;
	}
section#content.section-post .post-competenties{
	padding: 20px 0 20px 40px;
	display: block;
	position: relative;
	text-transform: uppercase;
	color: #aaa;
	font-weight: 600;
	font-size: .9em;
	line-height: 33px;
	border-bottom: 1px solid #ECECEC;
}section#content.section-post .post-competenties .competenties{
		color: #888;
}


div#disqus_thread { max-width: 95%; }
footer {
	width: 27%;
	padding-left: 1.5%;
	position: fixed;
	z-index: 2;
	bottom: 10px;
}
footer p { 
	font-size: .85em;
	line-height: 1.1em;
	margin-left: 10px;
}
footer a#attribution {
	background: none;
	border: none;
	margin-right: 5px;
}
footer a#attribution img {
	height: 20px;
	width: 19px;
}

/* == ICONS == */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
div.glyphs h2{
	
}
div.glyphs a {
	font-style: normal;
	display: inline;
	color: #AAA;
	border-bottom: none;
	font-size: 22px;
	margin-right: 5px;
}
div.glyphs a:hover {
	position: relative;
	top: 0px;
}
a.twitter:hover { color: #00a0d1; }
a.github:hover { color: #4183c4; }
a.email:hover { color: #333; }




/* == MOBILE == */
@media all and (max-width: 910px) {
	body {
		min-width: 80%;
		overflow-x: hidden;
	}
	header#main-header {
		display: block;
		position: relative;
		height: auto;
		width: 100%;
		min-width: 90%;
		padding-left: 0;
	}
	header#main-header hgroup {
		margin-left: 5%;
	}
	header#main-header nav { margin: 0 0 20px; }
	header#main-header nav li{	display: block; height: 40px;
	}
	
	
	header#date-time { display: none; }
	header h3 { margin-left: 5%; }
	div#tweets { display: none; }
	div.hcs { padding-left: 5%; }
	div.hcs ul { margin: 0; }
	div.hcs ul li { width: 50%; margin: 0; padding: 0 5% 5% 0; }
	section[class^="article-"] > header {
		width: 90%;
		padding: 20px 0 20px 5%;
	}
	section#content {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		border-left: 0;
		border-top: 1px solid #ECECEC;
		margin-left: 0;
		min-height: 320px;
	
	}
	article.post {
		width: 90%;
		max-width: 90%;
		margin: 0 auto;
		padding: 40px 0;
	}

	article.post p, article.post h2 {
		width: 100%;
		max-width: 100%;
	}
	article.post ul, article.post ol {
		max-width: 80%;
		width: 80%;
	}
	article figure img, article iframe, article object {
		max-width: 100%;
		height: auto;
		width: 100%;
	}
	
	
	section#content article.home-post .post-thumb{
		width: 200px;
		overflow: hidden;
		float: left;
		margin-right: 30px;
	}
	section#content article.home-post .post-thumb * {
		display: none;
	
	}
	section#content article.home-post .post-thumb img {
		display: block;
		height: 200px;
		width: auto;
	}
	section#content.section-post div.image.activeShow, section#content.section-post .post-cover.activeShow{
		height: auto;
	}
	section#content.section-post .post-cover, section#content.section-post div.image{
		width: 100%;
		max-width: auto;
		height: auto;
	}
	
	footer {
		width: 90%;
		position: relative;
		left: 5%;
		border-top: 1px solid #ECECEC;
		margin-left: 0;
		padding-left: 0;
	}
	footer p { margin-left: 0; }
	pre.prettyprint {
		max-width: 96%;
		width: 100% !important;
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
}

/* == LOS MONITORS GIGANTE == */
@media all and (min-width: 1441px) {
	p, ul, ol { 
		font-family: 'Titillium Web', sans-serif;
		font-size: 19px;
		line-height: 32px;
	}
	h1 { font-size: 2.2em;	}
	h2 { font-size: 1.5em; margin-top: 20px; }
	header#main-header hgroup h2 { font-size: 16px; }
	div#tweets { max-width: 90%; font-style: italic; }
	article figure img, article iframe, article object { width: 900px; }
	article.post h1, article.post h2, article.post p { max-width: 780px; }
	article.post ul, article.post ol { max-width: 680px; }

	blockquote {

	}
	pre.prettyprint { 
		width: 900px;
		font-size: 16px;
		line-height: 2.0;
	}

}

@media all and (max-width: 600px) {

section#content article.home-post .post-thumb {
	width: 100%;
	height: 100px;
}
section#content article.home-post .post-thumb img {
	width: 100%;
	height: auto;
}

}
